@keyframes LogoFadeIn {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes BadgeFadeIn {
  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mainMockUpFadeIn {
  70% {
    opacity: 0;
    transform: translateY(5vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  50% {
    opacity: 0;
    transform: translate(-50%, 40px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.UpDown01 {
  animation: UpDown01 1.6s ease-in-out infinite alternate;
}

@keyframes UpDown01 {
  0% {
    transform: translateY(-1.5vh);
  }

  100% {
    transform: translateY(1.5vh);
  }
}

@keyframes UpDown02 {
  0% {
    transform: translateY(1.5vh);
  }

  100% {
    transform: translateY(-1.5vh);
  }
}

@keyframes MockUp01 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(1.5vh);
  }
}

@keyframes MockUp02 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1.5vh);
  }
}


@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.opacity {
  animation: opacity 1.5s linear forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeSlideIn {
  animation: fadeSlideIn 2s linear forwards;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    /* transform: translateX(-30px); */
  }

  100% {
    opacity: 1;
    /* transform: translateX(0); */
  }
}

.fadeScreen {
  animation: fadeScreen 2.5s linear forwards;
}

@keyframes fadeScreen {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.show {
  animation: show 0.4s linear forwards;
}

.BoxShow {
  animation: show 0.4s linear forwards;
}

.symbolSloganShow {
  animation: symbolSloganShow 0.4s linear forwards;
}


@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.showDown {
  animation: showDown 0.4s linear forwards;
}

@keyframes showDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.onboardingMockupShow {
  animation: onboardingMockup 0.5s linear forwards;
}


@keyframes onboardingMockup {
  0% {
    opacity: 0;
    transform: translate(-9%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(-9%, -20px);
  }
}

.onboardingGif {
  animation: onboardingGif 0.5s linear forwards;
}

@keyframes onboardingGif {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes symbolSloganShow {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.insightAni {
  animation: insightAni 0.3s linear forwards;
}

@keyframes insightAni {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.subColor01 {
  animation: sub01 0.5s linear forwards;
}

.subColor02 {
  animation: sub02 1s linear forwards;
}

@keyframes sub01 {
  0% {
    opacity: 0;
    transform: translateX(-20.55vw);
  }

  /* 80% {
    opacity: 0.3;
  } */

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sub02 {
  0% {
    opacity: 0;
    transform: translateX(-41.1vw);
  }

  50% {
    opacity: 0;
  }


  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.onboardingLine {
  animation: onboardingLine 0.8s linear forwards;
}

@keyframes onboardingLine {
  0% {
    transform: translateX(-50%) scaleY(1);
    /* 원래 크기 */
  }

  100% {
    transform: translateX(-50%) scaleY(0);
    /* 위에서 아래로 줄어듦 */
  }
}

.missionLineAni {
  animation: missionLineAni 0.4s linear forwards;
}

@keyframes missionLineAni {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.missionTxtAni {
  animation: missionTxtAni 1.6s linear forwards;
}

@keyframes missionTxtAni {
  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.homeMockupShow {
  animation: homeMockupShow 0.7s linear forwards;
}

@keyframes homeMockupShow {
  0% {
    opacity: 0;
    transform: translate(-25%, 50px);
  }

  100% {
    opacity: 1;
    transform: translate(-25%, 0);
  }
}