@keyframes LogoFadeIn {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes BadgeFadeIn {
  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mainMockUpFadeIn {
  70% {
    opacity: 0;
    transform: translateY(5vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  50% {
    opacity: 0;
    transform: translate(-50%, 40px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes UpDown01 {
  0% {
    transform: translateY(-2vh);
  }

  100% {
    transform: translateY(2vh);
  }
}

@keyframes UpDown02 {
  0% {
    transform: translateY(2vh);
  }

  100% {
    transform: translateY(-2vh);
  }
}

@keyframes MockUp01 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(4vh);
  }
}

@keyframes MockUp02 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-4vh);
  }
}


@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}